[2017-04-28 09:06] tchellomello opened #5 "How to determine the current Arlo mode???"
It seems to determine which is the current mode for the Arlo cameras, it is only possible if we consume the Angular.js object (I could not find a way to do it via request).

So the library does have yet a way to determine which mode the cameras are set.

We need to crack this out or how to implement it on our side.

  - Should we just have a mode set after flipping it to the desired mode via pyarl

[2017-04-30 19:20] ryanwinter opened #6 "Two way audio support?"
Is there an API to use the speaker on the Arlo Q?

[2017-04-30 21:44] tchellomello commented on #6
Hello @ryanwinter. Arlo does not offer an API.

I think we can implement it thru reverse engineering. Currently, I don't have an Arlo Q but please feel to contribute to project.

[2017-04-30 21:46] ryanwinter commented on #6
Thanks tchellomello,

I did purchase a couple of Arlo Q, and am actually working on a Windows 10 app based on the API you have discovered. If i figure out the audio mode, I will definitly feed this back.

Just wondering, what method did you use to reverse engineer the interface so far?

[2017-04-30 21:50] tchellomello commented on #6
@ryanwinter  nice. I used mitmproxy to see the requests and also using your browser on development tools you can see objects expected on each request.

Another alternative is to install android on KVM (http://www.android-x86.org/) and then via mitmproxy to inspect its communication

[2017-04-30 21:53] ryanwinter commented on #6
great, I'll keep working throught things. I'm surprised netgear isnt using an encrypted connection...

[2017-05-01 15:28] ryanwinter opened #7 "Arlo Q not supported"
I just bought a 2 pack of arlo q cameras. They are returning as devicetype == "arloq".

[2017-05-01 17:03] tchellomello commented on #7
@ryanwinter  thanks for reporting this problem.

On the code we are doing this:

https://github.com/tchellomello/python-arlo/blob/dev/pyarlo/__init__.py#L170-L175

[code]

  Should it be `arloq` instead `arloqs`?

  If so, please submit a patch with the change and I'll be happy to merge it.

[2017-05-01 18:37] ryanwinter commented on #7
Mine is an "arloq", maybe "arloqs" is also a valid option because there is also the Arlo Q Plus which has local storage.

I will make a change and submit the patch. Might be a little slow as I'm still ramping up on git :D

[2017-05-01 18:40] ryanwinter opened #8 "View RTMPS live stream access"
cam_object.live_streaming() provides the live stream which is returned as type rtmps://. This would indicate that it is an encrypted RTMP stream.

At this point, I haven't seen anyone successfully open the stream. I have tried to stream with ffmpeg however received errors of various types.

I suspect either a certificate is required, or some token is needed to access/decrypt the stream.

[2017-05-01 18:44] ryanwinter commented on #5
What are you referring to with the mode?

Is this:
-  camera on/off; or
-  armed/disarmed/scheduled/geofenced/custom

[2017-05-01 19:19] t9001 commented on #5
I am also interested in this, I have not been able to figure out how to get the current base mode (armed/disarmed/scheduled/geofenced/custom). My solution would be to move all control to my libraries and store it myself. That would break if anyone changed things through the official app or website, but only until the API was used again. My coding skills are limited though, what do you mean by cons

[2017-05-02 02:30] tchellomello commented on #7
@ryanwinter  sounds good.  Thank you!! :+1:

[2017-05-02 06:42] ryanwinter commented on #7
#9

[2017-05-02 07:34] #7 closed

[2017-05-02 17:52] ryanwinter commented on #8
I spent a little time on this yesterday. I install Android x86 and installed the Arlo app within the VM.

However when trying to launch the Arlo app, it crashes instantly. Everything else appears to work on in the VM, so I'm a little uncertain on why this decided to fail. Will take another look tonight.

[2017-05-02 18:03] ryanwinter commented on #8
The second thing I noticed, while poking around in the Android APK, is that there are libraries for ffmpeg, x264. There is also a wowza certificate in the assets folder.

So hopefully they aren't doing anything funky and these libraries are all that's needed to decode the stream.

[2017-05-02 23:33] jwillaz commented on #8
I did some inspection using Fiddler as a proxy for my phone while running the Android app and opening a live stream. The things you noted above are correct. There is a wowza secure stream player used. There are also 2 certs I noted in the trace. One was a Netgear Arlo cert. The other was an Amazon AWS cert. The stream is tunneled from AWS.

[2017-05-03 03:19] tchellomello opened #11 "Create unittests"
Create mock unit tests

[2017-05-03 03:58] tchellomello opened #12 "Create documentation"
Create documentation

[2017-05-03 16:07] ryanwinter commented on #8
I believe this is the documentation outlined the server side encrpytion:
https://www.wowza.com/docs/how-to-protect-rtmp-streaming-using-securetoken-modulesecuretoken

[2017-05-03 16:14] ryanwinter commented on #8
So I believe the web interface and likely the android app are using a flash player to stream. Seeing as flash isn't possible on the apple devices, I'm wondering if they are using a different stream protocol instead.

If so, this might be an easier way to access the live stream.

I have an apple device and tried to use fiddler to view what was going on, but when I turn on https decryption, I get ce

[2017-05-03 17:14] ryanwinter commented on #8
By changing the user agent string to "Mozilla/5.0 (iPhone; CPU iPhone OS 9_3_5 like Mac OS X) AppleWebKit/601.1.46 (KHTML, like Gecko) Mobile/13G36 NETGEAR/v1 (iOS Vuezone)",

I get the following stream response:
"rtsp://52.38.114.182:443/vzmodulelive/4NB36BS42AE18_1493831526662?egressToken=<token>&userAgent=iOS&cameraId=<camera_id>"

So yes as I suspected, the iOS is using a different stream form

[2017-05-05 20:11] ryanwinter commented on #8
I poked around with this the other night, mostly trying to play the RTSP stream with no success. I was able to connect to the rtsp server with openssl and validate that it did provide a correct certificate.

I also decided to snoop on the traffic from the camera itself, however it appears that the camera initiates all traffic, and its SSL encrypted.

Still want to investigate more, trying to under

[2017-05-05 20:31] jwillaz commented on #8
You are definitely onto something. I'm on a hotel network that seemingly does throttling / dropping of video connections.  Whenever I try to connect to my live camera feeds through a web browser, the feed gets disconnected.  However, if I use the Android app on the hotel network, it connects and streams no problem.  Obviously something wonky about how the hotel filters connections, but it at least

[2017-05-05 20:33] ryanwinter commented on #8
Foreign for me as well, been a crash course of hacking my network :) I have an android device which I will take home and have a look at what that is doing. I suspect it's probably using the same rtsp stream that the ios devices are using.

I will try and read up more on the wowza documentation on RTSP streaming, hopefully this will have some key on what I should be doing.

[2017-05-06 03:38] tchellomello commented on #8
This is awesome guys

[2017-05-07 22:34] danieledge opened #13 "Trying to run.."
Hi,

I'm getting a syntax error when trying to execute the example. Any ideas what I'm doing wrong?

Thanks in advance!

 File "newtest.py", line 7
    {'base_station': [ArloBaseStation: Home>]}
SyntaxError: invalid syntax

I'm getting the above error when trying to execute...

# connecting
from pyarlo import PyArlo
arlo  = PyArlo('myuser', 'bypass')

# listing devices
arlo.devices
{'base_station'

[2017-05-08 15:22] tchellomello commented on #13
Hello @danieledge ,

  Can you share your `newtest.py` file to see what is happening?

   Are you getting a traceback? If so, can you share it too?

 Thanks

[2017-05-09 21:45] #13 closed

[2017-05-09 21:45] danieledge commented on #13
This was a problem with my python installation which I've now resolved. Thanks

[2017-05-09 21:48] danieledge opened #16 "How to download the latest thumbnail image from each camera?"
I'm using the below python script (extract) to pull out the last two images from the cameras I have. I actually have 2 cameras, how would I extract the latest image from each camera?

Thanks!

cam = arlo.cameras[0]
# printing camera attributes
#cam.serial_number
cam.model_id
cam.unseen_videos

# load Arlo videos directly
from pyarlo.media import ArloMediaLibrary
library = ArloMediaLibrary(arlo, da

[2017-05-10 02:14] tchellomello commented on #16
Hello,
   Once you have the arlo object you can download it by executing:

[code]

[2017-06-01 04:42] tchellomello commented on #16
@danieledge  did it work for you?

[2017-06-05 03:41] chaddotson opened #19 "Updating the Camera Snapshot"
I'm wanting to script grabbing an image from each of my cameras.  Is there anyway to update each camera's current snapshot?

[2017-06-07 03:49] chaddotson commented on #19
I figured out the endpoint and payload for taking a manual snapshot but unfortunately that does not update the "lastImage".

[2017-06-07 03:52] chaddotson opened #20 "Battery level"
Any ideas on if battery level can be accessed via their API?  I've dug around watching the network requests but haven't seen anything.

[2017-06-07 05:42] tchellomello commented on #19
@chaddotson  did you try to run camera.update() to refresh the object? Could you share your script?

[2017-06-07 05:43] tchellomello commented on #20
@chaddotson  yes I want to add this to the library too so then we can extend Home Assistant sensors.  I'll research about it.

[2017-06-08 02:02] chaddotson commented on #20
Battery level can be found in the subscribe event-stream endpoint.

[2017-06-09 03:35] tchellomello commented on #20
@chaddotson  awesome let's try to implement it

[2017-06-22 19:34] DkYSwe opened #21 "Arm and Disarm"
Hi Guys,

Great work you have done!
Sorry for raising an issue but need your expertise since I couldn't find the documentation (saw an issue open for that).

Can you please assist me with info how I arm and disarm all cameras (at once)?

Im having a RPI integrated into my house alarm system which I want to trigger the arm/disarm of the Arlo system.

Thanks in advance,

Daniel K

[2017-06-24 19:20] viswa-swami commented on #21
In arlo, you have to arm/disarm in the base station and cannot perform action on individual cameras based on my usage/understanding.

arlo = PyArlo(<username>, <password>)
base = arlo.base_stations[0]   ====> Assuming you have only 1 base station (typical case)
base.mode = "armed"
To disarm: base.mode == "disarmed"

This has been integrated as part of Home Assistant and it is currently in Pull-Req

[2017-06-24 19:27] viswa-swami commented on #5
**I have figured out how to get the mode.  I can help on this.  I am actually cloned the pyarlo and working on this feature.  I have a dirty code that is working, but working on finalizing it.**

**I will submit the PR in few days when it is done and tested.**

Basically our pyarlo code needs to subscribe with the base station for events.  Arlo will send event streams to pyarlo (basically us), whe

[2017-06-24 19:28] viswa-swami commented on #5
This event_Stream method is the method used by arlo.netgear.com (website) also.  Since we are getting the mode from the base station/device itself, it would sync up when we set via Home Assistant or even via arlo App/website.

[2017-06-24 19:29] viswa-swami commented on #5
I am not sure if i can assign myself to this issue, but if you can, you may assign me this issue. (viswa.swami@gmail.com)

[2017-06-24 21:15] jwillaz commented on #21
If you have a SmartThings hub and set up the MQTT bridge for it, you can subscribe to a lot of Arlo camera topics.  https://github.com/stjohnjohnson/smartthings-mqtt-bridge  I currently use this method for interacting with my cameras, including turning them on/off individually.  I have Schlage Connect locks, so one of the nice automations I was able to do was trigger the front cameras to turn off

[2017-06-27 02:37] viswa-swami commented on #20
Battery level has been implemented as part of the current pull request in progress.  It would cover getting the mode as well as battery level.  There are properties added to also get the base station properties, camera properties,  rules etc.

[2017-06-27 04:22] tchellomello commented on #16
closing this issue for now. @danieledge if you need help, please let us know.

[2017-06-27 04:22] #16 closed

[2017-06-27 04:40] #12 closed

[2017-06-27 04:44] tchellomello commented on #19
@chaddotson did it work for you?

[2017-06-27 05:15] chaddotson commented on #19
Sorry got distracted  by something else.  I believe it worked to a point.  Seems I had trouble making sure it always worked.  I can't remember the details, will verify this week.

[2017-06-28 05:04] chaddotson commented on #19
@tchellomello negatory.

`
from logging import basicConfig, getLogger,  DEBUG, INFO
from pyarlo import PyArlo

logger = getLogger(__name__)

logging_config = dict(level=INFO, format='[%(asctime)s - %(filename)s:%(lineno)d - %(funcName)s - %(levelname)s] %(message)s')
basicConfig(**logging_config)

arlo = PyArlo(username, password)
for camera in arlo.cameras:
    camera.update()

    name = "{0}.jp

[2017-06-30 04:53] #20 closed

[2017-06-30 04:54] tchellomello commented on #21
Closing it. Please refer to the new docs and commit #22 for further details

[2017-06-30 04:54] #21 closed

[2017-06-30 04:55] tchellomello commented on #19
@chaddotson  correct that is the current behavior. We are working to get a way to capture the live streaming as you can see at #8

[2017-06-30 04:56] tchellomello commented on #5
Implemented by PR #22

[2017-06-30 04:56] #5 closed

[2017-06-30 04:57] tchellomello opened #24 "Motion sensor notifications?"
Guys, how about if we create a method to check or be notified when a motion sensor occurs?

[code]

@viswa-swami  do you think is possible to do this?

[2017-07-01 04:06] viswa-swami commented on #24
@tchellomello I did see a Boolean flag in one of the properties (not sure camera or base-station) like "motion detected" and "soundDetected".  But I didn't get a chance to try out that flag.  Also not sure if it will be true for sometime after motion is detected, because it will take roughly 5 seconds for us to subscribe to event stream and get the result.

Another option to use the last video cap

[2017-07-01 06:04] chaddotson opened #27 "Exception while getting mode (if in custom mode)"
There is an issue getting the mode from base stations if you are set to schedule or custom mode.

Set custom mode before testing.

[code]

Results in:
[code]

[2017-07-01 06:26] chaddotson commented on #27
to me:

This code

base_station.py
    @property
    def mode(self):
        """Return current mode."""
        resource = "modes"
        mode_event = self.publish_and_get_event(resource)
        if mode_event:
            active_mode = mode_event['properties']['active']
            modes = mode_event['properties']['modes']
            for mode in modes:
                if mode['id'] == active_mo

[2017-07-01 06:57] chaddotson commented on #27
I submitted a pull request.  https://github.com/tchellomello/python-arlo/pull/28

[2017-07-01 07:34] tchellomello commented on #24
@viswa-swami  I'll run some tests with that and see if we can create such sensor.
I'll keep you posted.
Thanks :+1:

[2017-07-02 03:53] #27 closed

[2017-07-02 05:37] #11 closed

[2017-07-07 05:14] tchellomello opened #31 "Getting multiples HTTP 401 when polling camera.get_battery_level"
I was working on extending a sensor for Home Assistant  to get battery level for the cameras, then I hit the problem below when pulling the cameras to get the battery level:

[code]

If I leave it running, due to multiple requests being executed on the Thread(), eventually all sensors will get updated

![image](https://user-images.githubusercontent.com/809840/27943918-12dce2ae-62b1-11e7-9a0c-a0c4d

[2017-07-07 05:17] tchellomello commented on #31
To reproduce that on HA, you can checkout the branch https://github.com/tchellomello/home-assistant/tree/arlo_battery

[2017-07-07 15:34] viswa-swami commented on #31
@tchellomello I will pull that and try it out.

I think we can try these 2 options that I have mentioned below first.  If that doesn't work out, then we may have to add the HTTPAdapter methodology.

Option-1:
I was working on adding the code to set the "motion_enabled" status from base station to HASS 0.48.1.  I have made some change to pyarlo for optimization.  We have to call 'subscribe' from th

[2017-07-08 04:59] viswa-swami commented on #31
@tchellomello I took the branch that you indicated, and merged those sensor changes into my code-base... But I am not seeing those Battery sensors getting created at all !!! Is any other change missed in that branch that you gave ?

[2017-07-08 05:17] viswa-swami commented on #31
@tchellomello Ignore my previous comment.  It was my bad... I didnt add battery to my configuration file and thats why it didn't show up when i tried !!!!  Let me try and get back to you

[2017-07-08 05:39] viswa-swami commented on #31
@tchellomello I am running the code with Python 3.4.2 (which is what is being used for my HASS as well).

I didn't see this crash that you told in your comment.  Of course I had the pyarlo change (that I posted for PR) as well as I am calling the subscribe right after login in component/arlo.py.

I will leave it to run for the night to see if it runs properly.  If so, I can send those changes to y

[2017-07-08 05:42] viswa-swami commented on #31
@tchellomello Ok, I got the error that you were talking about in your comment.  I will try to debug that further tomorrow and let you know if i find anything....

[2017-07-08 05:48] viswa-swami commented on #31
@tchellomello I am getting spurious results... not sure why... sometimes I am getting that error that you reported.. while if i restart HASS I am not getting that error... !!!!!!!!! you noticing the same behavior ?

[2017-07-09 02:54] tchellomello commented on #31
@viswa-swami  I have not noticed it. I'll try to play with that later today

[2017-07-09 02:56] tchellomello opened #33 "get_battery_level() does not work for Arlo Q cameras"
Arlo Q cameras does not require a base station.

We will need to treat this situation and if possible get the same attributes for Arlo Q cameras too

[2017-07-09 02:57] tchellomello commented on #33
Related issue: https://github.com/home-assistant/home-assistant/issues/8412

[2017-07-10 20:08] viswa-swami commented on #31
@tchellomello I was trying few experiments with this setup.  I was also working on adding some of those parameters are attributes/properties for the camera like brightness, signal strength etc.

From the perspective of HASS, I think it might be a good idea to create a separate thread (or a async_task) whichever would be appropriate in the components/arlo.py which will subscribe and get all those p

[2017-07-11 04:10] tchellomello commented on #31
@viswa-swami yes, +1 to the async idea.

Yes that is a good idea and will offer a good optimization.  I'm running some tests here

[2017-07-15 04:39] viswa-swami commented on #31
@tchellomello This async idea works really well.

I have made some optimizations in the pyarlo library code.  I will post for PR later tomorrow.  This optimization reduced the time consumed to subscribe, and fetch each property from 5 seconds to 0.7 seconds.

In addition to that, with the async thread in home assistant, I have added the battery sensors as well as displaying the battery & motion_de

[2017-07-15 05:45] tchellomello commented on #31
Yes please share then I can test as well. working for me then we can post it for the HASS version.

Very nice to hear that!! Good job @viswa-swami !

[2017-07-17 22:45] viswa-swami commented on #31
@tchellomello Below is the Home Assistant branch that contains the code for arlo async sensors and attributes.  This is based on latset 'dev' branch as of today.

[](https://github.com/viswa-swami/home-assistant/tree/newly_added_async_arlo_sensors_properties)

The mainly modified files are components/arlo.py, components/camera/arlo.py and components/sensor/arlo.py for the respective functions.

**

[2017-07-17 22:46] viswa-swami commented on #31
Sorry, forgot to paste the link for the Home Assistant branch:

https://github.com/viswa-swami/home-assistant/tree/newly_added_async_arlo_sensors_properties

[2017-07-20 06:19] tchellomello commented on #31
@viswa-swami  pyarlo 0.0.6 published on PyPi.

I tested your HA branch and I also updated it to make use of the new version published on PyPi too.

I got the sensors displayed on the webUI, however it took 90 seconds to the battery and signal sensors populated.
I believe that is because of the SCAN_INTERVAL. Just to test it, I changed it to 10 seconds, and after the HASS were up, it took 10 second

[2017-07-20 06:22] tchellomello commented on #31
Interesting that after running for some time, some battery sensors zeroed out.

![image](https://user-images.githubusercontent.com/809840/28403313-3592d9ca-6cf2-11e7-9497-998d083360b2.png)

After some minutes, it got re-populated.

[2017-07-20 23:48] viswa-swami commented on #31
@tchellomello After we register the timer in the async_setup code we have to call the function once manually to update the data.  After that, every SCAN_INTERVAL it will update the properties automatically.  I haven't done that yet in the branch.

Otherwise for the first time, it will take some time to get the sensor value.  If you restart HASS you will see that the sensor gets reading almost imme

[2017-08-08 02:54] chaddotson commented on #8
Any updates?  I've been attempting to start the stream via librtmp unfortunately I keep getting a failure to start the stream.  It does get connected however.

`
import librtmp

rtmp = librtmp.RTMP(url=camurl, token=arlo._PyArlo__token, live=True)
rtmp.connect()

stream = rtmp.create_stream()
data = stream.read(1024)

rtmp.close()
`

[2017-08-08 05:52] jwillaz commented on #8
This is a secured stream, so I don't think it will be possible without the appropriate certificate.

[2017-08-08 12:20] chaddotson commented on #8
My first goal is updating the thumbnail on the website and on the mobile app.  So, I think that if i can manage to get the stream online (not actually decode it) for a second or so, that will happen.  Merely getting the url almost does it.

I've also tried the following which downloads their player.  Though I suspect the reason this doesn't work is that they also load a flowplayer rtmp plugin.

[c

[2017-08-09 03:33] chaddotson commented on #8
Has anyone dug into the flashvars?  They look interesting to say the least.

[2017-08-10 16:43] jmrfsc opened #38 "Start/Stop Recording command?"
Hi, is there any way to issue a start/stop recording command for a camera?
Thanks.
Regards

[2017-08-19 06:40] chaddotson commented on #38
Not currently, but I am working on such a thing at the moment for taking snapshots.  I think the start recording endpoint functions similarly.  Only potential issue is the camera must be in "streaming" mode.  It feels a bit kludgy right now because I have to tall the camera.live_streaming() to start it up, then quickly post to the snapshot endpoint.  I'd be happy for input on a way to handle this

[2017-08-19 06:43] chaddotson commented on #8
Seems that flashvars references to the plugins used to securely stream to the client.  I've been attempting to find if python-librtmp has a feature to do this; so far, it doesn't appear so.

[2017-08-24 16:10] tcellerier opened #39 "Is there a way to turn On/Off each camera ?"
Hello,

In the settings of my Arlo camera, I can turn the camera On or Off. (button Camera On/Off)
Is there a way to do it in this python library ?

Thanks
Thomas

[2017-08-24 21:54] jwillaz commented on #39
I'm not sure about On/Off, but you can definitely disable/enable motion detection on each camera.  This seems like a better solution to me because it still gives you the ability to view the Live feed on a camera without having to go turn it back on.  The only shortcoming is that there is no indicator in the Arlo app UI that motion detection is disabled - you would have to rely on whatever interfac

[2017-08-25 03:34] viswa-swami commented on #39
I believe there is an on/off or enable/disable in the camera properties or base station properties.

There are functions in this library to print the camera properties and base station properties.  If you print it, you can check if such a property exists.  Toggling that property will turn on/off the camera.

[2017-08-25 09:43] tcellerier commented on #39
It looks like the On/Off option is hold by the property privacyActive (True means Camera Off) listed from the command base.get_camera_properties
However I couldn't manage to toggle it with any of the following commands :
arlo.cameras[0].privacyActive = True
or arlo.base_stations[0].privacyActive = True
even with also cam.update() afterwards

Any idea ?

[2017-08-31 05:37] njschwartz commented on #8
I would also like to know if anyone has made any further progress here. Overall I am pretty happy with my arlo cameras, but having access to the live stream wherever I want it would be huge. I have played around and gotten about as far as others have. I can get the tokens etc but cannot figure out how to put it all together to play a stream. Is anyone else actively looking at this or has it gone c

[2017-08-31 12:26] chaddotson commented on #8
I look at it when I have a chance.  Last time I did was 12 days ago.  I'd say any help in the area would be appreciated.  It should be possible.  We should have everything we need to start the stream.  I wonder whether python-librtmp doesn't support all the features we need or we haven't hit the right arguments yet.

[2017-09-05 01:38] njschwartz commented on #8
I pulled the private key and certs from the apk. Hopefully someone smarter than I can use them to get the stream to play?
[certs.zip](https://github.com/tchellomello/python-arlo/files/1275788/certs.zip)

[2017-09-19 06:08] tchellomello commented on #8
@chaddotson  @jwillaz  did you see the certs the @njschwartz pulled from the APK?

[code]

[2017-09-21 17:10] broox opened #41 "Serial Numbers Deprecated?"
I have yet to see `serialNumber` come back in a response for either a base station or camera. Is this property deprecated? Or does it just come with certain models?

[2017-09-21 20:02] broox commented on #41
Nevermind, I see that Serial number seems to be synonymous with `camera.device_id`, but comes back as `serialNumber` when looking at the base station camera property response.

[2017-09-21 20:02] #41 closed

[2017-09-21 21:52] jwillaz commented on #8
Having the certs is definitely a good start. Unfortunately, I'm not sure how to use them.  I don't have any experience with this protocol, and I've fallen into the same rut other have succumbed to with trying to playback the stream in something like FlowPlayer.  If I could get my phone to properly proxy through Fiddler, I'd be interested in seeing the traffic from the Arlo app and also from the Sm

[2017-09-22 20:30] arasium opened #43 "Can't get base station mode"
Hi,

I can get the base station mode (I see the update in my mobile App) but base.mode (like in the sample) return an empty result even if I set it just before.

I'm on a raspberry with raspbian jessie lite with Python 2.7.9

[2017-09-22 22:55] rccoleman commented on #43
It's working for me.  If you do "arlo.base_stations", does it list only one base station?  Some Netgear routers can act as Arlo base stations, and the "base = arlo.base_stations[0]" line will only work properly if the first one is the one you want.

[2017-09-23 11:04] arasium commented on #43
I've done the test. I've only one base station listed.
It seems that I don't receive the callback. I will do more tests.

[2017-09-24 05:03] chaddotson commented on #8
Wondering if this Node solution actually works?  See startStream.

https://github.com/zakmckracken1988/node-arlo-api/blob/master/arlo-api/index.js

[2017-09-24 15:46] arasium commented on #43
After some tests, it seems to be a thread issue. When the action is sent to arlo server, the code is waiting thrue two loops. During this wait, the thread watching the event queue isn't running so no event is dispatched. Once the waiting loop is finished, i can see the thread getting events and the 'modes' result event.

[2017-09-25 20:04] broox commented on #33
Can anyone with an Arlo Q camera show what the API response looks like so that we can add it to a test fixture?

[2017-10-01 11:33] jwillaz opened #47 "Retrieving Camera "State" Attributes"
I've been working on modifications to turn individual cameras On/Off.  This is achievable by setting "privacyActive" to False/True, respectively.  However, while setting the data is straightforward, getting it is now.  In order to initialize the state of a device, it would be helpful to retrieve the current values like privacyActive.  However, I cannot find any endpoint for retrieving this particu

[2017-10-06 05:44] tchellomello commented on #47
@jwillaz  I think that is a great idea indeed! I'll try to play with `mitmproxy` and see if I can find the endpoint.

Thanks for your work on this!

[2017-10-07 08:04] jwillaz commented on #39
Just submitted a PR implementing this.

[2017-10-08 18:59] chaddotson commented on #8
@ryanwinter Been rereading the thread.  Going back to your statement about the camera initiating the stream.  I believe this indeed is the case, at least to netgear servers.  It seems to me that the camera's poll every few seconds looking for incoming commands.

[2017-10-08 19:03] ryanwinter commented on #8
@chaddotson, this just means that all communications needs to be initiated through Netgears servers. Not really a problem as such, but kind of annoying cause it would be speedier to connect directly through to the camera.

I think the camera maintains a open connection to the server, maybe it polls instead.

[2017-10-08 19:07] chaddotson commented on #8
@ryanwinter agreed no real issue there.

I've not had a chance to look into that node project I found.

It seems simply requesting the URL gets the camera to connect to netgear.  Next thing that seems a bit wonky is that the netgear site doesn't get an updated thumbnail unless some video was transferred.  Have we fully investigated the post payload?

[2017-10-09 00:55] yoooou opened #51 "Memory leak"
https://github.com/tchellomello/python-arlo/blob/2d8b5357d1f299647da5c25f805f32fd8dfb2e63/pyarlo/__init__.py#L185

PyArlo.__base_stations grows every time we call ArloMediaLibrary.load()

[2017-10-10 06:31] tchellomello commented on #47
@jwillaz  was this issue addressed by your latest patch series?

[2017-10-10 06:38] #39 closed

[2017-10-10 06:47] tchellomello commented on #51
@yoooou  Thanks for reporting this issue!

[2017-10-10 06:52] #51 closed

[2017-10-10 06:54] jwillaz commented on #47
Nope, this will be separate.

[2017-10-10 06:56] tchellomello commented on #43
@arasium  can you test it again on the latest version to check if the issue is still happening?

[2017-10-10 07:00] tchellomello commented on #31
The PR #52 should address this problem.

[2017-10-10 07:21] #31 closed

[2017-10-12 07:10] #19 closed

[2017-10-12 07:10] tchellomello commented on #19
Closing this in reference to #8

[2017-10-15 20:38] jmrfsc opened #58 "Arm/Disarm issue"
Hi,

when I'm trying to run the following example I'm getting the error bellow. Can you please help me? Regards.

%# connecting
from pyarlo import PyArlo
arlo  = PyArlo('xxx@xxx', 'xxxx')

%# get base station handle
%# assuming only 1 base station is available
base = arlo.base_stations[0]

%# get base mode
base.mode = 'disarmed'

Error running the command[Tecnologia][Arlo Netgear][Disarm] : Error

[2017-10-22 19:41] lundpetersen opened #59 "Turn siren on / off"
Hi @broox,

I figured out what commands to issue to turn the siren on the basestation on / off.
Any chance you could add this to your code?

This is an example of the message send when turning the siren on:
{"from":"VHFP9-161-14197254_web","to":"4RD17570A1DC3","action":"set","resource":"siren","transId":"web!b93a567.a795f!1508699879247","publishResponse":true,"properties":{"sirenState":"on","durat

[2017-10-23 04:56] tchellomello commented on #59
@broox  we can try to create a prototype and then you can test it to see if works.

I'll let you know when I have something for you to test it.

[2017-10-23 06:19] ryanwinter commented on #33
I'm blocked by this at the moment, does anyone have any insight?

[2017-10-23 06:55] lundpetersen commented on #59
@tchellomello - I actually ment to tag you in my post, sorry for tagging the wrong person.
Sounds great - let me know if I can be of any assistance.

[2017-10-25 05:44] tchellomello commented on #33
Hello @ryanwinter, what kind of error are you getting?  I just ran a quick test with `rpdb` here and it worked to me.

[code]

Where `events()` will only return some data from that thread in case of a notification event.

Does it make sense? What error are you getting?

[2017-10-25 06:34] tchellomello commented on #59
@lundpetersen  which URL are you pointing to get these attributes?

[2017-10-25 07:43] lundpetersen commented on #59
@tchellomello - I must admit that I don't understand how the Arlo API works 100% - but as far as I understand it is done thru the EventStream via this URL:
https://arlo.netgear.com/hmsweb/users/devices/notify/<BASESTATION_ID>
Was that helpfull? Or should I try and investigate a bit more?

[2017-10-26 04:51] ryanwinter commented on #33
This makes sense, the part I'm having issues with is line 52/53. What is the purpose of line 52? I'm getting the data = "<Response [200]>", but then SSEClient throws an error with that input.

I'm still trying to get my head around the debugging here, maybe I have a bad dependency?

[code]

[2017-10-26 04:59] ryanwinter commented on #33
Ok, so making some progress, it seems I had install sseclient, instead of sseclient-py :|

[2017-10-26 05:57] ryanwinter commented on #33
Awesome, so this is pretty much as expected. The Arlo Q cameras act as their own base station.

[2017-10-26 07:02] tchellomello commented on #33
@ryanwinter oh.. good to know that!! So we will need to modify the code in order to check the try to modify its behavior. Are you working on a patch to make it fully compatible with Arlo Q camera since you own them?

[2017-10-26 07:03] tchellomello commented on #59
@lundpetersen  that was helpful thank you! I'll try to send you something by the end of the week.

[2017-11-18 16:10] DkYSwe commented on #43
Hi @tchellomello,

I checked it out yesterday (running on RPI) and get the "None" result on each execution. Only one base station identified.
Let me know if I can assist with info. :)

[2017-11-22 02:10] CarterBrehm commented on #8
Sorry to revive an old thread, but has there been any progress on this? I just got one of the 3-camera systems and I'm really bummed I can't integrate it into my normal HA system.

[2017-11-22 02:16] chaddotson commented on #8
I've been too busy to look into it since my last post.  I would still love to be able to script access.

[2017-12-01 22:06] alexeystrakh opened #64 "Streaming `rtmps` over web"
What is the approach to stream over web the video once I have a streaming URL like:

`rtmps://vzwow72-z2-prod.vz.netgear.com:80/vzmodulelive?egressToken=b723a7bb_abbXX&userAgent=web&cameraId=48AAAAA`

Does it require flash to be installed in the browser?

[2017-12-04 15:20] deanmcguire commented on #8
I had some success today with this using an rtsp link. See comments in https://github.com/jeffreydwalter/arlo/issues/7

[2017-12-05 02:33] chaddotson commented on #8
@deanmcguire You got it!  I've also recently figured out how to get up to date snapshots.  I need to write it up and PR it though.

[2017-12-14 05:39] chaddotson commented on #8
Anyone looking for snapshots, just issued the PR https://github.com/tchellomello/python-arlo/pull/65

[2017-12-16 19:16] chaddotson commented on #64
That stream requires another flash and other flash components to play.

I suggest seeing the discussion happening in: https://github.com/tchellomello/python-arlo/issues/8

[2017-12-16 19:19] chaddotson commented on #8
Confirmed working with this package @deanmcguire . Setting user-agent to

'Mozilla/5.0 (iPhone; CPU iPhone OS 11_1_2 like Mac OS X) AppleWebKit/604.3.5 (KHTML, like Gecko) Mobile/15B202 NETGEAR/v1 (iOS Vuezone)'

With this, the camera live_streaming call yields a rtsp link.  As he suggests in the other project, this must be changed to the secure rtsps.  Once done, ffmpeg will process.  I will star

[2017-12-16 19:26] chaddotson commented on #58
Was this resolved?  which version?  Seems it failed to return the list of valid modes when you set it.   I just tested with the master branch and it worked for me.

[2017-12-27 22:52] Ritte88 commented on #8
@tchellomello could the fix @deanmcguire link to be applied to the HA-component?

[2018-01-05 20:09] chaddotson opened #68 "Basestation Scheduled Mode"
I notice that accessing the mode for the base station while in scheduled mode returns the mode current set by the schedule.  Also, arlo.base_stations[0].mode = "schedule" does not appear to work.

[2018-01-06 07:47] chaddotson commented on #68
Seems the const value for schedule might be wrong.  Looking into it.

`
# modes not returned with the Arlo API's available modes
FIXED_MODES = {
    'schedule': 'true'
}
`

[2018-01-06 07:53] chaddotson commented on #68
Ok, schedule works a bit differently than the other modes.  Looks like its 2 posts.

1)
resource: 'schedule'
properties:active:false

2)
resource: 'modes'
properties:active: 'mode1'

[2018-01-07 07:43] chaddotson commented on #68
More info:  setting or getting a mode of schedule is special.  I'm looking into a PR

[2018-01-08 19:58] twendt commented on #59
Did you get a test version running?

[2018-01-09 04:54] #68 closed

[2018-01-10 17:10] sherazan commented on #24
Hi, are there news about to have a feedback for a motion detection?

Thanks

[2018-01-10 22:31] alexeystrakh opened #72 "`last_image` and `snapshot_url` returns stale images"
I'm trying to fetch a last know camera image on a periodic basis. I'm trying to use `last_image` (bytes) as well as the `snapshot_url` (with `schedule_snpashot()` method call to update it) but unfortunately, it seems it returns me stale images (different).

1. This one always returns the same URL and doesn't update it even though `schedule_snapshot()` return `True`:
http://python-arlo.readthedocs.

[2018-01-10 22:35] alexeystrakh commented on #72
Sorry, I got it, the URL is the same but the image is different.

`schedule_snapshot()` works fine

[2018-01-10 22:35] #72 closed

[2018-01-13 07:10] chaddotson commented on #8
Ok. successfully captured frames from the live stream using opencv (assuming the alternative user-agent is set).  Thoughts about an optimal user-agent setting?

[2018-01-14 04:41] chaddotson commented on #43
Is this active with the latest release?  I just did some work to modes.

[2018-01-19 10:28] Berjler commented on #43
hi all.
Before I did the Update today to pyArlo 0.1.3 the command
base.available_modes show ['armed', 'disarmed', 'schedule', 'custom']
And i was able to switch the modes by i.e. base.mode = 'armed'

Now, after the Update there is only ['schedule'] shown.
And I could not swich the modes.

The Version I used before was from July2017

Is there any chance to get the modes back?

Cheers
mi.ke

[2018-01-19 13:04] chaddotson commented on #43
I encountered this a few times while trying to figure out how to make schedule work correctly.  In previous versions, I believe empty list was the result.

What actually happened is the other modes were not retrieved from the arlo api.  'schedule' is special and not returned from the server.  Probably need to add some robustness around some of the api calls to better indicate failures such as this

[2018-01-20 15:40] Berjler commented on #43
Yes, I have tried several times and the result is unfortunately always "schedule".
`base.update ()` does not help either.
The strange thing is that I have been using the API for half a year to automatically switch between modes. There was always perfect. Until update yesterday.

[2018-01-20 17:14] chaddotson commented on #43
Ok I just remembered something I encountered that had this same result.

Try this:
- Login via the website with the same username/password
- Logout
- Try the script again

[2018-01-21 18:37] chaddotson commented on #43
You shouldn't have had to call update, it was just something to try.

I ran the following with pyarlo 0.1.2:
[code]

And got:
`['schedule', 'disarmed', 'armed', 'day', 'test']`

[2018-01-23 03:19] chaddotson commented on #43
Same firmware here, but my hardware is the 4000 model.  I'm not sure that would have anything to do with it since they would standardize their api away from different model numbers at this level (at least I would think).

Might try increased logging to see if anything falls out.  Note: DON'T POST the output as it will contain your username and password.

try:

[code]

The last couple of lines shou

[2018-01-23 07:59] Berjler commented on #43
yes, the response is everytime ok (200)
This are the last 4 lines
[code]

[2018-01-23 13:33] chaddotson commented on #43
I'll look at this closer this evening.  I want to make sure those log lines are representative of what I thought they were last night.

[2018-01-24 06:38] chaddotson commented on #43
Didn't get an opportunity to look in depth but I do believe I had the wrong lines in mind.  I'll try to look tomorrow evening.

[2018-01-24 06:39] chaddotson commented on #43
Didn't get an opportunity to look in depth but I do believe I had the wrong lines in mind. I'll try to look tomorrow evening.  In the mean time could you revert to the version you previously had working and make sure it retrieves the modes properly for you?

[2018-01-25 03:16] chaddotson commented on #43
Please still validate the previous version you had still works.

I was referencing the wrong lines.  You'll have to search up into the output some with the debug logging enabled.

Search for the area containing (these are incomplete lines):

 pyarlo.base_station - Action body: {'action': 'get', 'from': 'some_guid_web', 'properties': None, 'publishResponse': False, 'resource': 'modes',

^ This line

[2018-01-25 10:41] Berjler commented on #43
2018-01-25 09:28:32,276 - DEBUG - urllib3.connectionpool - "POST /hmsweb/users/devices/notify/BASESTATION_ID HTTP/1.1" **200** 16

Then I searched for `"HTTP/1.1`" in the log
Everytime the respose is "200"

Unfortunately, I do not know how to install an older version.
I download the Zip-File and unzip it. But how can I install it over the curent version without using PIP?
(sorry about my unskilled

[2018-01-26 09:44] Berjler commented on #43
Now I got it:
`sudo python setup.py install`

Here is the result:
I ran the following with pyarlo various versions:
[code]

what did I expect?
`['schedule', 'armed', 'disarmed', 'nurEingang'', 'test']`

with pyArlo 0.0.6 I got:
`['schedule', 'armed', 'disarmed', 'custom']`

with pyArlo 0.0.7 I got:
[code]

with pyArlo 0.0.8 I got:
[code]

with pyArlo 0.0.9 I got:
`['schedule']`

with pyArlo 0.1.0

[2018-01-26 16:23] chaddotson commented on #43
This is great information.  I know it's tied to one of my earlier PRs now.  I'll have a look at it tonight if I can.

[2018-01-27 02:55] chaddotson commented on #43
I have more info now that I've looked at the code.  It looks like it really wasn't doing anything in v0.0.6, those modes: ['schedule', 'armed', 'disarmed', 'custom'] are all hard-coded in that version.

[2018-01-27 03:18] chaddotson commented on #43
With the latest version, what does this result in?  print(base.get_available_modes()) should be a list of dictionaries containing the modes and rules for each mode.

[code]

[2018-01-27 16:12] Berjler commented on #43
Tried with pyarlo 0.1.2
The output is:
[code]

[2018-01-27 19:31] Berjler commented on #43
I wasn't sure if I understood correctly.
So here is additionally the output from pyArlo 0.0.6:

[code]

[2018-01-27 20:00] chaddotson commented on #43
I was wondering about the 0.1.2.  It looks like for some reason it isn't retrieving modes within the specified wait.  Currently it will wait 5 seconds for the response before continuing and silently failing.

Try the following with v0.1.2 and post the result.
[code]

[2018-01-27 20:28] Berjler commented on #43
with pyArlo 0.1.2:

[code]

[2018-01-27 20:55] chaddotson commented on #43
Ok, its definitely not getting responses when expected.  Out of curiosity can you successfully get/set modes or other properties?

[2018-01-27 22:01] Berjler commented on #43
Yes, with the 0.1.2 I can switch from any mode to the 'Schedule' mode.
With the 0.0.6 I can switch from anyone mode to another.

[2018-01-30 11:05] Berjler commented on #43
I found a little solution for me by using the old pyArlo 0.0.6

In the file "const.py" I change the following lines:
[code]

with
[code]
The names of the mode assignment correspond exactly to what is entered in the arloAPP.
Now I'm able to address each mode specifically by script.

This works without delay and I do not need a scheduler anymore, because my smarthome knows exactly whether I'm at hom

[2018-02-01 02:45] chaddotson commented on #43
Ok, sorry I haven't gotten a chance to look at the master branch in a few days.  Hopefully we can resolve this.

[2018-02-15 20:16] empierre commented on #24
same here

[2018-03-15 02:39] ee1709 commented on #8
how do you change the user agent to iPhone, as mentioned above?

[2018-03-15 12:12] ee1709 commented on #8
Got that working, now how do you keep the stream alive for more than 30 seconds?

[2018-04-19 08:37] jurgenweber opened #73 "nothing returning?"
I made a quick script to see what is going on, because I use this module in home-assistant.

[code]

Some of the things it is return, is broken or empty:

[code]

[2018-05-16 04:17] tchellomello commented on #8
@chaddotson any success?

[2018-05-27 03:33] chaddotson opened #74 "Arlo Security Light Support"
Just FYI, the Arlo Security Light shows up as a second base station in the UI.  I haven't checked to see how it works via the API.

[2018-06-02 11:14] jurgenweber commented on #73
I have a[ baby Arlo](https://www.arlo.com/au/products/arlo-baby/default.aspx)...

{'modelId': 'ABC1000'

[2018-06-03 06:37] chaddotson commented on #74
Edit:  Sorry it does not show up as a second base station.  I haven't checked what it actually shows up as.

[2018-06-05 03:06] tchellomello opened #77 "Sometimes I hit this issue when trying to refresh Arlo BaseStation status"
[code]

[2018-06-05 03:28] tchellomello commented on #73
@jurgenweber  if you do this:

[code]
Then repeat the print steps, does it work?

[2018-06-05 03:28] #58 closed

[2018-06-05 03:28] #77 closed

[2018-06-05 11:49] jurgenweber commented on #73
[code]

:P

[2018-06-12 22:52] lukiffer opened #84 "Arlo Baby Support"
Creating this issue to gauge interest in the additional Arlo Baby functionality. Typically I would just jam out some code and submit a PR, but it appears that there would be a considerable refactor involved to keep the reusable code clean, and I would like to have open discussion with the maintainer @tchellomello to make sure this jives with his vision for the module and that downstream packages s

[2018-06-13 03:34] lukiffer commented on #84
Another thing occurred to me after thinking about it for a bit... we could abstract all of this up a layer, and preserve this module as-is, handling the compilation of sensor data directly from the `ArloBaseStation` class into a DTO in the Arlo Home Assistant code.

[2018-06-14 04:13] tchellomello commented on #84
Hello @lukiffer,
   Thanks for your post. I definitely agree with you that is time for a code refactoring in this library.
   The work on this library started with the first Arlo camera products but rapidly Arlo released new products and as all the code is based on reverse engineering we will need to keep up the code as developers buy the devices to add support to it.

   To agree with your plan a

[2018-06-14 04:14] tchellomello commented on #84
I think would be a good plan to get all the developers or users that want to help on this and create a product matrix so then we will who can test what and how. What are your thoughts on that?

[2018-06-18 01:01] lukiffer commented on #84
@tchellomello I'm happy to test the Arlo Baby stuff, so feel free to add me to that matrix. This is my first foray into the Netgear/Arlo products (I've previously been a Nest fanboy).

As for the refactoring bits, after digging a bit deeper, I noticed that they treat the Arlo Baby as its own base station. So a refactor on the scale I was thinking before is unnecessary, we can simply return the Arl

[2018-06-18 03:05] lukiffer commented on #84
https://github.com/tchellomello/python-arlo/pull/86

It wouldn't let me request a PR review, but let me know if anyone has feedback on the code and if it's good with everyone, I'll add the unit tests.

[2018-06-20 02:13] tchellomello commented on #84
Fixed by #86

[2018-06-20 02:13] #84 closed

[2018-06-24 08:08] happenzZ opened #89 "control camera shooting when Motion detection off"
Can I control camera shooting by using python-arlo when I turn the motion detection off? I want to control the start time and end time for recording. If possible, use what functions?

[2018-07-02 03:16] tchellomello commented on #89
Hello @happenzZ,

   Unfortunately, that is not yet possible. All you can do is to enable the mode by arming or disarming and the camera will honor the configuration you have preset for the recording length.

  Thank you for your question.
mmello

[2018-07-02 03:16] #89 closed

[2018-07-02 03:37] happenzZ commented on #89
Thanks for your reply.

Actually, I want the camera to record longer videos. Since in the arming mode, it seems that the maximum record time for one camera is 300 sec (Record until activity stops) and 120 sec (Record for a fixed length of time).

**So, in your opinion, currently, there is no way to record longer videos? Am I get your point correctly?**

BTW, if control the camera manually from the

[2018-07-10 08:54] jwillaz opened #92 "Mode Endpoint has Changed"
When changing modes (Armed, Disarmed, etc), a POST is now made to a different endpoint:

**https://arlo.netgear.com/hmsweb/users/devices/automation/active**

with a payload similar to the following:

{
   "activeAutomations":[
      {
         "deviceId":"xxxxxxxxxx",
         "timestamp":1531211943092,
         "activeModes":[
            "mode1"
         ],
         "activeSchedules":[

[2018-07-15 18:23] schmittx opened #93 "Arlo Baby 'get' Commands?"
Is there a current method to 'get' the following status on the Arlo Baby? I see that there's commands to change the status but I'm not sure how to get the current status.
- volume level
- night light on/off
- night light brightness

[2018-07-16 22:13] lukiffer commented on #93
I don't recall seeing these when I was poking around their API, but then again I wasn't actively looking for them. I'll take a peek and see if I can locate them in the API.

[2018-07-17 07:34] lukiffer commented on #93
It looks like another async request is being made to `cameras/{deviceId}` with the response coming back over the subscription channel.

Volume comes through as:
[code]

Nightlight data comes through as:
[code]

I'll try to get these patched into the base station code soon, but my availability has been all over the place due to the viewing target of my Arlo Baby :)

[2018-07-20 10:07] schmittx commented on #93
Nice work, I understand the availability concern...no problem.

[2018-07-21 03:47] schmittx commented on #24
ditto, I'm anxious for this also

[2018-07-21 08:14] tchellomello opened #96 "history_event.get('properties') throwing NoneType"
[code]

**cc** @lukiffer  can you take a look at this for us? I don't have this device so I can't test it.

[2018-07-21 17:33] mathiaskopo commented on #73
I have the same problem with an Arlo Go. The basestation list is empty. And I also tried with the other API jeffreydwalter/arlo and that also have the same problem with an empty basestation list.

[2018-07-21 18:47] jwillaz commented on #96
Sounds like this may be impacting all devices. Could be related to endpoint changes on Arlo's side, similar to https://github.com/tchellomello/python-arlo/issues/92.

[2018-07-21 23:33] lukiffer commented on #96
I believe this is affecting all devices except for Arlo Baby (all devices that return `None` for that API call). But this should have been fixed in `0.2.0`

@tchellomello can you confirm which version of pyarlo this came from? It looks like Home Assistant 0.74.0 shipped with `pyarlo==0.1.9`.

[2018-07-22 12:57] ankurbajaj9 opened #97 "Doesn't work anymore"
Can you check if your code still works with Arlo pro 2

[2018-07-22 18:16] tchellomello commented on #97
I don't have an Arlo Pro 2 to test it. Can you perform the steps on this Readme https://github.com/tchellomello/python-arlo#usage and post the results?

[2018-07-26 17:15] cteodorski commented on #97
When I try to run the it seems to blow up immediately:

chris@optimusprime:~/code/arlobattery$ python3 arlocheck.py
Traceback (most recent call last):
  File "arlocheck.py", line 2, in <module>
    arlo  = PyArlo('user@cccc.com', 'passwordgoeshere')
  File "/usr/local/lib/python3.5/dist-packages/pyarlo/__init__.py", line 52, in __init__
    days=days)
  File "/usr/local/lib/python3.5/dist-packages

[2018-08-16 15:55] Ipaulsen commented on #8
Just jumping into this. I am using [this](https://github.com/jeffreydwalter/arlo/wiki/Streaming-Video) example. I have 3 cameras I can print object with vars about the camera var is set `cameras = arlo.GetDevices('camera')`,`print(cameras[1])`. trying to get snapshot from the live stream running into this error when running the example `EventStream' object has no attribute 'event_stream_thread`. A

[2018-08-19 02:29] lukiffer commented on #93
Just submitted a **wip** PR for the features requested. I'm guessing it will fail coveralls as there are code paths that aren't covered by my first pass of tests, but I've tested it and it's working with my Arlo Baby.

@schmittx I'd be interested in your feedback whether you'd prefer us get this tested and released with just the features you requested, or should we work on exposing more of the dat

[2018-08-19 17:54] schmittx commented on #93
Nice work!

Personally speaking, the only other data point worth looking at would be the night light color/temperature (which I think are “mode” and “temperature” within “nightLight”). A ‘get’ and ‘set’ would be ideal for color and/or temperature.

[2018-08-19 18:59] #93 closed

[2018-08-30 16:34] tchellomello commented on #92
@Nicxe sorry I've been a little busy lately but hopefully, someone will take this issue.

[2018-10-15 21:18] collse commented on #92
Has there been any movement on this - seems like its now affecting the front/back end performance as well

[2018-10-18 03:35] lukiffer opened #100 "Streaming API Changed"
It looks like all requests to the streaming API (including the initial `notify` call) are returning a permissions error:

[code]

I'll continue looking into the underlying cause and post any updates here.

[2018-10-18 04:52] lukiffer commented on #100
So after some (very) cursory investigation, it appears that nothing has changed about their API signatures, only that their server-side model validation has gotten pickier about stray properties.

In https://github.com/tchellomello/python-arlo/blob/master/pyarlo/__init__.py#L119 we're simply appending params, but anything that's already on `self.__params` is preserved. And on https://github.com/tc

[2018-11-07 10:19] nzben commented on #92
I'm picking this up. I'd be keen to understand where you see the data posed @jwillaz. When I post that payload (with my deviceId and current timestamp) I get

`{u'data': {u'message': u'Failed to update Automation Definitions', u'reason': u'Unable to upload active automation. Please try again', u'error': u'AUTO-5050'}, u'success': False}`

[2018-11-22 22:39] stefannilsson commented on #8
Any other projects you guys know of that can guide us closer towards the goal?

[2018-11-25 09:07] denisvic commented on #97
Sam problem here. Doesn't work anymore

[2018-12-08 05:59] teqnet commented on #92
@nzben
Any progress here. My arlo is unknown 50% of the time (every seccond sample)

[2018-12-08 06:01] teqnet commented on #92
Update of alarm_control_panel.arlo_t is taking over 10 seconds

[2018-12-08 08:50] JesperSkagerberg commented on #92
I am also very interested in the progress. Thank you in advance.

[2018-12-22 13:07] Megachip commented on #33
Reference:
https://github.com/home-assistant/home-assistant/issues/15026#issuecomment-427594601

[2018-12-23 15:32] MizterB opened #103 "Error Retrieving Media"
A couple days ago I noticed that HomeAssistant was no longer showing images from my Arlo cameras - the API was returning a 500 error.  Ultimately I found that the HA code could not retrieve any of the camera's last_video properties.

I decided to try connecting directly through the python-arlo API and see if I could get to the root cause.  I am seeing the following:
`from pyarlo import PyArlo
arlo

[2018-12-23 15:47] MizterB commented on #103
I forgot that a recent addition to my system was an Arlo doorbell.  I tried removing that from the system config, and found that everything started working correctly again!  Any idea why a doorbell would be breaking the video code?

[2018-12-28 19:08] tchellomello commented on #103
@MizterB thanks for reporting the issue. Doorbell is not yet supported and we might need to filter the object correctly as it could be mixing with the regular cameras.

[2018-12-28 19:09] tchellomello commented on #103
@MizterB could you try to see if the code above workaround the problem?

[2018-12-28 19:11] tchellomello commented on #100
Fixed by #101

[2018-12-28 19:11] #100 closed

[2019-01-18 03:01] zemerick1 commented on #92
Would love this to work so I could utilize some automation.
I've ran several basic troubleshooting tasks using pyarlo directly.

View mode
View available modes
Set mode
View new mode

It is really hit or miss. Sometimes it will return 'none' as the new set mode. sometimes it will return the same mode as the current set mode, indicating it never got changed. Not sure it is the code as much as it is

[2019-01-18 03:17] nzben commented on #92
I'm not sure if @jwillaz initial issue is correct, because as I posted back in November, I can't get any valid response, nor any valid mode change.

[2019-01-18 03:32] zemerick1 commented on #92
Yeah, I may be in the wrong thread. However, there is an issue where the mode won't change.

[2019-01-19 12:46] collse commented on #92
its not only the mode change that is broken, I added another camera yesterday and it doesnt show up either - I think the entire component needs reviewing - unfortunately it seems no one has the time or skill at the moment to address the issues ...

[2019-03-13 22:04] netwavetech opened #106 "Battery Level and Signal Strength do not work on Arlo GO"
The battery level and signal strength return "None" on the Arlo Go cameras.   The rest of the values seem to work.  I can see Signal Strength values if I check the camera.attrs,  but I do not see a battery level value listed there.  But there is a value is visible within Arlo's portal.

[2019-04-03 15:27] sappsys opened #107 "Base Modes incorrect"
I'm running Python 2.7 and just did a fresh pip install of pyarlo
When I run it, I get incorrect modes returned :--

Devices : {'base_station': [<ArloBaseStation: Home>], 'cameras': [<ArloCamera: BackGardenCamera>, <ArloCamera: HallwayCamera>, <ArloCamera: GarageCamera>, <ArloCamera: KitchenCamera>, <ArloCamera: LivingRoomCamera>, <ArloCamera: LandingCamera>]}

Arlo Base Stations : [<ArloBaseStati

[2019-04-22 04:42] naveeda11 commented on #16
I have probably the same question, problem. I am able to get the latest thumbnail
But subsequent iterations of the loop keep giving me the same thumbnail. The image never refreshes.
If I add the PyArlo instantiation, I will get a fresh image. Do I need to do that?
[code]

[2019-04-26 19:53] brandontiller commented on #107
I had the same issue. I just deleted my custom modes in Arlo and recreated them. Working fine now. Pain though...

[2019-04-30 07:31] sappsys commented on #107
Hi, I tried that and it worked. Strange as the app shows everything correct and the system worked, it was just this API interface that was showing the wrong info.
Thanks.

[2019-04-30 07:31] #107 closed

[2019-08-13 02:22] chaddotson commented on #97
Works fine for me, are you using the one available on pypi?

[2019-08-17 23:33] danieledge opened #109 "Disabling a camera"
I’ve been trying to disable a camera, but not having much joy..

Snippet from my python script..

Where am I going wrong?

is_enabled = False
cam = arlo.cameras[1]
arlo.base_stations[0].set_camera_enabled(cam.uniqueid,is_enabled)

[2019-10-11 00:56] rihani opened #110 "Issue signing in"
I can no longer sign in, please could you help, my credentials are working on the other arlo library.
here is my code and the output

**Code:**
[code]

**Output**:
list index out of range

[2019-10-30 17:54] randyesq commented on #109
[code]

[2019-11-23 06:07] ijg opened #111 "Save snapshot image to disk."
I'm aware this is an ID10T error, but after hours I can't figure out how to save the most recent camera snapshot to disk.
using last_image
I can echo it to the console, but am missing how to write it to a file.
I had assumed appending download_thumbnail may do the job, but I was wrong.  Though this does work for last_video.

thank you for any help you can offer.

[2020-01-26 07:22] vzlgdu opened #112 "Nice to have device on/off"
Hi, I would to know if it is possible set a device on/off in the same way I can do selecting a cam from "devices windows", accessing to setup of a specific cam and toggling the flag "device on/off".
Thanks

[2020-02-25 06:09] #96 closed

[2020-03-18 15:41] mberry73 opened #113 "Any plans to support 2FA?"
It seems Arlo is pushing customers to enable 2 factor auth.
Any plans to support that?

[2020-03-21 02:23] itskvad opened #114 "PyAlro login issue"
Hi,

I have PyArlo run every 30 mins to check my Arlo base station using AzureDevOps pipelines.

Running PyArlo('username', 'passwordhere') is now giving the following error:

PyArlo('username', 'passwordhere')
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Python38\lib\site-packages\pyarlo\__init__.py", line 50, in __init__
    self.ArloMediaLibrary = ArloMedi

[2020-03-21 02:46] thejeffreystone commented on #114
Seeing this issue as well.

[2020-03-21 12:31] mberry73 commented on #114
Seeing the same issue. Seems Arlo has changed the api :-(

[2020-03-21 18:35] yoooou commented on #114
I'm having the same problem.
In my case this query to "arlo.netgear.com/hmsweb/users/library" failed due to 401. But even before that, _authenticate() already failed silently where the query to "arlo.netgear.com/hmsweb/login/v2" failed due to 403.

[2020-03-21 20:28] Zaschii commented on #97
Same problem here. Doesn't work anymore since few days.

[2020-03-21 20:35] Zaschii commented on #114
same here

[2020-03-22 07:19] vzlgdu commented on #114
Same for me... Help please...

[2020-03-22 21:28] yoooou commented on #114
I have a PR #115 which works for me. My tests are very limited though. Thanks @thejeffreystone for the pointer.

[2020-03-22 21:38] vzlgdu commented on #114
Sorry, but I don't understand what is the solution that works for you! Please can you explain better?
Thanks

[2020-03-22 22:26] yoooou commented on #114
I don't really know what happened under the hood. I'm just following what [this PR](https://github.com/twrecked/hass-aarlo/pull/191) did. I guess we need to use a new authentication mechanism to login now so some code changes to API endpoints and requests/responses are required - see the PR for details.

[2020-03-22 22:37] Zaschii commented on #114
yes its working with the new authentication mechanism.
it seems that its a little bit slower, but thats not a problem for me... thank you very much.
Just changed the 2 files const.py and __init__py.

[2020-03-23 06:21] jwillaz commented on #114
Not to take away from the great work that has been done within this repo (I've even made small contributions once upon a time), but it has not been actively supported for a while and I keep seeing the notifications for issues and feature requests. I just wanted to share that there are other repos that are currently active and adjusting to these changes. Twrecked is managing this repo, along with p

[2020-03-23 10:24] mberry73 commented on #114
Thanks for fixing it guys. Will give it a try asap.
jwillaz, I had a short look into pyaarlo. A little documentation would certainly help to get people interested i guess. :-)

[2020-03-23 13:04] vzlgdu commented on #114
Hi, sorry, but I don't understand what are you done to fix this; I've uninstalled and reinstalled pyarlo, but the problem is the same. Please could you explain me step by step what should I do to solve? Thanks

[2020-03-23 16:42] jwillaz commented on #114
@mberry73 you'll be able to find examples of leveraging the base package through the Home Assistant component, which has a lot of documentation, tips, and observations about the API: https://github.com/twrecked/hass-aarlo

[2020-03-23 18:21] vzlgdu commented on #114
Hi, I’m testing your exemple; my scope is selecta base and check what is the active mode…

Do you have some sugget?

Thanks

[2020-03-26 16:04] sspycher commented on #97
same

[2020-03-27 04:51] itskvad commented on #114
Using https://github.com/twrecked/pyaarlo/ now.

[2020-03-28 01:59] madhatter007 commented on #114
So this works?  Is the install the same for a Hassio version of HA?

[2020-03-29 22:51] itskvad commented on #114
Not quite sure what you mean. I'm just using the python module with my own scripts.

pip install git+https://github.com/twrecked/pyaarlo
import pyaarlo

[2020-04-01 13:35] madhatter007 commented on #114
Being non-technical, I followed the below getting setup at install.
https://www.home-assistant.io/integrations/arlo/

So can drop this update above on my HA install, config, and should be good getting Arlo going again?

[2020-08-04 14:14] gwoods4013 opened #116 "enhancements and Help wanted - easy install doc for Noob. Install to Twister OS to select cameras. Will Pay!"
Pi's are new to me but super interested in getting Arlo cameras up on Twister OS which I am using. Ideally a "one click" to install the cameras to an APP that I can then select which to cam to display live vid feed or optionally, recorded Vid.

[2020-08-28 03:20] zuyezheng commented on #114
Seems like the issue is that the login API is now blocking requests where user agent is `python-requests` or more specifically `('User-Agent', 'python-requests/2.24.0')` which is the default. The 1 line fix is to add something like:

[code]

right before this [line]( https://github.com/tchellomello/python-arlo/blob/1a8f39d57c12cbff2b4da444ce40a0538c28104b/pyarlo/__init__.py#L133).

[2020-11-03 04:47] prakash-patel opened #118 "How To Check If Camera Is On Or Off?"
By calling Notify endpoint i can turn on and off camera. Is that any endpoint i can call for device and they tells me if camera is on or off?

[2020-12-06 04:29] #103 closed

[2021-05-09 15:09] chaddotson commented on #97
I haven't used the package in quite some time, but assuming their api hasn't changed substantially it maybe linked to the 2FA mandate that can be turned off again.